In [4]:
print("Kamau")
print("Kamau")
print("Kenya")
print("I am enjoying 30days of python")

Kamau
Kamau
Kenya
I am enjoying 30days of python

In [5]:
print("Hello world")

Hello world

In [6]:
#operators
x = 10

x +=  10
print(x)

20

In [7]:
from math import pi
area = pi * 7 * 7
print(area)

153.93804002589985

In [8]:
x = int(input("Enter a value:"))
print("Y =",x**2 + 6*x + 9)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)
# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [ ]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a backslash  symbol (\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"')

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

String Formating

In [10]:

first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of a cricle with a radius {} is {:.2f}.'.format(radius, area) # 2 digits after decimal
print(formated_string)

I am Asabeneh Yetayeh. I teach Python
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64
The area of a cricle with a radius 10 is 314.00.

In [11]:
"""
Another new string formating is string interpolation, f-strings.
Strings start with f and we can inject the data in their corresponding positions.
"""
a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [12]:
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

In [13]:
greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

!dlroW ,olleH

In [14]:
challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [16]:
"30five".isidentifier()

False

In [19]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '.'.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML.CSS.JavaScript.React

In [23]:
challenge = 'thirty days of pythoonnn'
print(challenge.strip('t')) # 'irty days of py'

hirty days of pythoonnn

In [1]:
countries = ['Germany', 'France','Belgium','Sweden','Denmark','Finland','Norway','Iceland','Estonia']
gr, fr, bg, sw, *scandic, es = countries
print(gr)
print(fr)
print(bg)
print(sw)
print(scandic)
print(es)

Germany
France
Belgium
Sweden
['Denmark', 'Finland', 'Norway', 'Iceland']
Estonia

In [4]:
fruits = ['banana', 'orange', 'mango', 'lemon']
all_fruits = fruits[-4:] # it returns all the fruits
orange_and_mango = fruits[-3:-1] # it does not include the last index,['orange', 'mango']
orange_mango_lemon = fruits[-3:] # this will give starting from -3 to the end,['orange', 'mango', 'lemon']
reverse_fruits = fruits[::-1] # a negative step will take the list in reverse order,['lemon', 'mango', 'orange', 'banana']
print(all_fruits)

In [1]:
it_companies = ['Facebook', 'Google', 'Microsoft','Ápple', "IBM","Oracle", "Amazon"]
it_companies[1]= it_companies[1].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Ápple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.pop()  # removes a random item from the set


# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(len(dct)) # 4

person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }
print(person.get('first_name')) # Asabeneh
print(person.get('country'))    # Finland
print(person.get('skills')) #['HTML','CSS','JavaScript', 'React', 'Node', 'MongoDB', 'Python']
print(person.get('city'))   # None

# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.pop('key1') # removes key1 item
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.popitem() # removes the last item
del dct['key2'] # removes key2 item
print(dct)

In [3]:
language = 'Python'
for letter in language:
    print(letter, end='')
    


for i in range(len(language)):
    print(language[i])

PythonP
y
t
h
o
n

In [5]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key,":", value) # this way we get both keys and values printed out

first_name
last_name
age
country
is_marred
skills
address
first_name : Asabeneh
last_name : Yetayeh
age : 250
country : Finland
is_marred : True
skills : ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address : {'street': 'Space street', 'zipcode': '02210'}

In [6]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

In [7]:
count = 0
while count < 5:
    print(count)
    count = count + 1
#prints from 0 to 4

0
1
2
3
4

In [6]:
total = 0
for i in range(0,101):
    total +=i
print(total)

5050